.works {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #2a2a2a;
}

.work {
    display: flex;
    flex-direction: row;
}

.info-container-1 {
    padding: 50px;
    align-content: center;
    align-self: flex-start;
    width: 50%;
    height: 50%;
    background-color: white;
}

.info-container-2 {
    padding: 50px;
    align-content: center;
    margin-left: auto;
    width: 50%;
    height: 50%;
    background-color: white;
}

.main-title {
    color: white;
    margin: 0;
}

.work-title {
    margin: 10px;
}

.divider {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ff851b;
    border-width: 2px;
    opacity: 60%;
}

.vertical{
    list-style: none;
    column-count: 1;
    padding: 10px;    
}

.vertical li{
    margin-top: 10px;  
}


.work p{
    margin-left: 10px;
}

a{
    color: #ff851b;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .works {
        padding: 25px;
    }

    .work {
        flex-direction: column;
    }

    .info-container-1 {
        padding: 25px;
        align-content: center;
        margin-left: auto;
        width: 100%;
        height: 50%;
        background-color: white;
    }
    
    .info-container-2 {
        padding: 25px;
        align-content: center;
        margin-left: auto;
        width: 100%;
        height: 50%;
        background-color: white;
    }
}